OrderManagement.MvcClient/Service References/WcfService/OrderManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderManagement.WcfService.Dto.OrderBlog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderManagement.WcfService.Dto.OrderBlog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlSlug" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="ArrayOfPostDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostDto" nillable="true" type="tns:PostDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostDto" nillable="true" type="tns:ArrayOfPostDto" />
  <xs:complexType name="PostDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Meta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Published" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlSlug" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostDto" nillable="true" type="tns:PostDto" />
  <xs:complexType name="ArrayOfTagDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagDto" nillable="true" type="tns:TagDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagDto" nillable="true" type="tns:ArrayOfTagDto" />
  <xs:complexType name="TagDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlSlug" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagDto" nillable="true" type="tns:TagDto" />
</xs:schema>