OrderManagement.WpfClient/Service References/WcfService/OrderManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3397/OrderManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3397/OrderManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3397/OrderManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderManagement.WcfService.Dto" />
      <xsd:import schemaLocation="http://localhost:3397/OrderManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrderManagement.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderManagementService_GetOrderDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetOrderDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetOrderDtoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDtoes" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetOrderDtoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDtoesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetOrderDtoesByConditions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDtoesByConditions" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetOrderDtoesByConditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDtoesByConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_AddOrderDto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_AddOrderDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_UpdateOrderDto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_UpdateOrderDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_DeleteOrderDto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_DeleteOrderDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_OrderDtoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderDtoExists" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_OrderDtoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderDtoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDtoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDtoes" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDtoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDtoesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDtoByCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDtoByCondition" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_GetCustomerDtoByCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDtoByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_AddCustomerDto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_AddCustomerDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_UpdateCustomerDto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_UpdateCustomerDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_DeleteCustomerDto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDto" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_DeleteCustomerDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_CustomerDtoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerDtoExists" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_CustomerDtoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerDtoExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderManagementService">
    <wsdl:operation name="GetOrderDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDto" message="tns:IOrderManagementService_GetOrderDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDtoResponse" message="tns:IOrderManagementService_GetOrderDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDtoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDtoes" message="tns:IOrderManagementService_GetOrderDtoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDtoesResponse" message="tns:IOrderManagementService_GetOrderDtoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDtoesByConditions">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDtoesByConditions" message="tns:IOrderManagementService_GetOrderDtoesByConditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetOrderDtoesByConditionsResponse" message="tns:IOrderManagementService_GetOrderDtoesByConditions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/AddOrderDto" message="tns:IOrderManagementService_AddOrderDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/AddOrderDtoResponse" message="tns:IOrderManagementService_AddOrderDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/UpdateOrderDto" message="tns:IOrderManagementService_UpdateOrderDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/UpdateOrderDtoResponse" message="tns:IOrderManagementService_UpdateOrderDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/DeleteOrderDto" message="tns:IOrderManagementService_DeleteOrderDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/DeleteOrderDtoResponse" message="tns:IOrderManagementService_DeleteOrderDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderDtoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/OrderDtoExists" message="tns:IOrderManagementService_OrderDtoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/OrderDtoExistsResponse" message="tns:IOrderManagementService_OrderDtoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDtoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDtoes" message="tns:IOrderManagementService_GetCustomerDtoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDtoesResponse" message="tns:IOrderManagementService_GetCustomerDtoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDto" message="tns:IOrderManagementService_GetCustomerDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDtoResponse" message="tns:IOrderManagementService_GetCustomerDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDtoByCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDtoByCondition" message="tns:IOrderManagementService_GetCustomerDtoByCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/GetCustomerDtoByConditionResponse" message="tns:IOrderManagementService_GetCustomerDtoByCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomerDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/AddCustomerDto" message="tns:IOrderManagementService_AddCustomerDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/AddCustomerDtoResponse" message="tns:IOrderManagementService_AddCustomerDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/UpdateCustomerDto" message="tns:IOrderManagementService_UpdateCustomerDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/UpdateCustomerDtoResponse" message="tns:IOrderManagementService_UpdateCustomerDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/DeleteCustomerDto" message="tns:IOrderManagementService_DeleteCustomerDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/DeleteCustomerDtoResponse" message="tns:IOrderManagementService_DeleteCustomerDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerDtoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/CustomerDtoExists" message="tns:IOrderManagementService_CustomerDtoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/CustomerDtoExistsResponse" message="tns:IOrderManagementService_CustomerDtoExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderManagementService" type="tns:IOrderManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetOrderDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDtoes">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetOrderDtoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDtoesByConditions">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetOrderDtoesByConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/AddOrderDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/UpdateOrderDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/DeleteOrderDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDtoExists">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/OrderDtoExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDtoes">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetCustomerDtoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetCustomerDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDtoByCondition">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/GetCustomerDtoByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomerDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/AddCustomerDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/UpdateCustomerDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDto">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/DeleteCustomerDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDtoExists">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/CustomerDtoExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagementService">
    <wsdl:port name="BasicHttpBinding_IOrderManagementService" binding="tns:BasicHttpBinding_IOrderManagementService">
      <soap:address location="http://localhost:3397/OrderManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>