OrderManagement.WpfClient/Service References/WcfService/OrderManagementService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderManagement.WcfService.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderManagement.WcfService.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DbProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbProcessResult" nillable="true" type="tns:DbProcessResult" />
</xs:schema>